@model PaginatedList<TalentHub.Models.Anotacao>

@{
    ViewData["Title"] = "Minhas Anotações";
}

<div class="home-content mb-5">
    <div class="top-bar d-flex align-items-center">
        <div class="w-100 text-center fs-1 fw-bold text-white mb-5">Minhas Anotações</div>
    </div>

    <div class="search-container">
        <div class="search-card py-4 px-4">
            <form asp-controller="Projetos" asp-action="BuscarProjeto" method="get">
                <div class="input-group d-flex align-items-center">
                    <div class="input-group-prepend">
                        <span>
                            <img src="~/images/magnifier@100x100.png" alt="Buscar" height="50" />
                        </span>
                    </div>
                    <input type="text" class="form-control input-group-text encoded-sans fw-600 fs-55" name="searchTerm"
                        placeholder="Busque por nome de projeto, termos ou URL GitHub" aria-label="Busque por nome de projeto, termos ou URL GitHub" aria-describedby="basic-addon1">
                    <div class="input-group-append">
                        <button class="search-btn d-flex justify-content-between align-items-center" type="submit">
                            <img src="~/images/paper-plane@100x100.png" alt="Buscar" height="34" class="me-3" />
                            <div class="text-center fs-5 me-5 encoded-sans fw-600">Buscar</div>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container content-container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="w-75">
                    <h5 class="mb-4 fw-bold text-dark-blue">Ajuda</h5>
                    
                    <div class="mb-3 pt-3">
                        <h6 class="fw-bold text-dark-blue mb-3">Gerenciar anotações</h6>
                        <p class="text-muted">Aqui você pode visualizar, editar e apagar suas anotações feitas nos projetos.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <h3 class="text-start fw-bold text-dark-blue mb-4">Anotações</h3>
                <div class="list-group mb-5">
                    @foreach (var item in Model)
                    {
                        <div class="list-group-item d-flex justify-content-between align-items-center border-0">
                            <div class="d-flex align-items-start">
                                <div class="me-3 text-center">
                                    <div class="rounded-3 text-white p-3 d-flex justify-content-center align-items-center bg-warning">
                                        <i class="fas fa-sticky-note fs-2"></i>
                                    </div>
                                </div>
                                <div class="">
                                    <h5 class="mb-1 ">
                                        <a class="text-dark-blue encoded-sans text-decoration-none" href="@Url.Action("Detalhes", "Projetos", new { id = item.Projeto.IdProjeto })">@item.Projeto.NomeProjeto</a>
                                    </h5>
                                    <p class="mb-1 mt-2 text-muted">@item.TextoAnotacao</p>
                                </div>
                                <div class="d-inline-flex align-items-center position-absolute end-0">
                                    <button class="btn me-2 btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editNoteModal" data-id="@item.Id" data-text="@item.TextoAnotacao">
                                        <i class="fas fa-edit"></i>
                                        Editar
                                    </button>
                                    <button class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="@item.Id">
                                        <i class="fas fa-trash"></i>
                                        Apagar
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom my-4"></div>
                    }
                </div>

                <div class="pagination d-flex justify-content-center">
                    @if (Model.HasPreviousPage)
                    {
                        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-outline-primary">Anterior</a>
                    }

                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        <a asp-action="Index" asp-route-pageNumber="@i" class="btn @(Model.PageIndex == i ? "btn-primary" : "btn-outline-primary")">@i</a>
                    }

                    @if (Model.HasNextPage)
                    {
                        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-outline-primary">Próximo</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editNoteModal" tabindex="-1" aria-labelledby="editNoteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form asp-action="EditarAnotacao" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="editNoteModalLabel">Editar Anotação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="noteId" name="id" value="" />
                    <div class="form-group">
                        <label for="annotation" class="mb-1">Anotação</label>
                        <textarea class="form-control" id="noteText" name="annotation" rows="6" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar Anotação</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza de que deseja apagar esta anotação?</p>
            </div>
            <div class="modal-footer">
                <form id="deleteForm" asp-action="ApagarConfirmacao" method="post">
                    <input type="hidden" id="deleteNoteId" name="id" value="" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Apagar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/projetos.css" asp-append-version="true" />