@model TalentHub.Models.Projeto

@{
    ViewData["Title"] = "Detalhes do projeto";
}

<h2>Detalhes do Projeto</h2>

<div class="my-4">
    <h4>Projeto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome do Projeto
        </dt>
        <dd class="col-sm-10">
            @Model.NomeProjeto
        </dd>
        <dt class="col-sm-2">
            Descrição do Projeto
        </dt>
        <dd class="col-sm-10">
            @Model.DescricaoProjeto
        </dd>
        <dt class="col-sm-1">
            Ano
        </dt>
        <dd class="col-sm-1">
            @Model.Ano
        </dd>
        <dt class="col-sm-1">
            Período
        </dt>
        <dd class="col-sm-1">
            @Model.Periodo
        </dd>
        <dt class="col-sm-1">
            Categoria
        </dt>
        <dd class="col-sm-7">
            @Model.Categoria
        </dd>
        <dt class="col-sm-2">
            URL do Repositório
        </dt>
        <dd class="col-sm-10">
            @Model.UrlRepositorio
        </dd>
        <dt class="col-sm-2">
            Palavras chave
        </dt>
        <dd class="col-sm-10">
            @Model.PalavraChave
        </dd>
        <dt class="col-sm-2">
            URL da Aplicação
        </dt>
        <dd class="col-sm-10">
            @Model.UrlAplicacao
        </dd>
        <dt class="col-sm-2">
            Integrantes
        </dt>
        <dd class="col-sm-10">
            @Model.Integrantes
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.IdProjeto">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
