@model IEnumerable<TalentHub.Models.Projeto>

@{
    ViewData["Title"] = "Lista de projetos";
}

<h2>Projetos</h2>

<div class="text-end">
    <a asp-action="Criar" class="btn btn-primary">Criar novo projeto</a>
</div>
    

<table class="table">
    <thead>
        <tr>
            <th>Nome do Projeto</th>
            <th>URL do Repositório</th>
            <th>URL da Aplicação</th>
            <th>Integrantes</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.NomeProjeto)</td>
            <td>@Html.DisplayFor(modelItem => item.UrlRepositorio)</td>
            <td>@Html.DisplayFor(modelItem => item.UrlAplicacao)</td>
            <td>@Html.DisplayFor(modelItem => item.Integrantes)</td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.IdProjeto">Editar</a> |
                <a asp-action="Detalhes" asp-route-id="@item.IdProjeto">Detalhes</a> |
                <a asp-action="Apagar" asp-route-id="@item.IdProjeto">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
